.container-admin {
    min-height: 700px;
    text-align: center;
    padding: 5% 8%;
    text-transform: uppercase;
    background-image: url('../images/bgadmin.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

.menu-admin {
    background-color: white;
    padding: 2%;
    border-radius: 25px;
    max-width: 600px;
}

.container-admin h1 {
    font-size: 30px;
    font-weight: 600;
}

.container-admin h3 {
    font-size: 25px;
    font-weight: 600;
    padding: 1% 0;
}

.admin-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.emp-field, .book-field, .client-field {
    padding: 2% 4%;
}


.emp-field h3, .book-field h3, .client-field h3 {
    font-size: 20px;
}

.buttons-admin-menu {
    max-width: 300px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}


.btn-admin-home {
    text-transform: uppercase;
    font-weight: 800;
    opacity: 0.7;
    background-color: #146b38;
    padding: 10px 20px;
    width: 260px;
    font-size: 1rem;
    border-radius: 3px;
    text-align: center;
    color: white;
    border: 0;
    margin-bottom: 8%;
    transition: opacity 0.5s;

}


.btn-admin-home:hover {
    background-color: #146b38;
    color: white;
    opacity: 1;

}

.btn-admin-file {
    background-color: #13c9e9;
}

.btn-admin-file:hover {
    background-color: #13c9e9;
    ;

}