.main-newbook {
    padding: 1% 8% 5% 8%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #432073;

}

.image-new-newbook{
    width: 40%;
    min-width: 250px;
}

.new-book{
    width: 50%;

    padding: 2% 0;
    min-width: 300px;

}


.new-book h2 {
    margin: 2% 0;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 30px;
    width: 500px;

}





.form-newbook {
    width: 100%;



}

.form-newbook {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    border: 0;
    background-color: transparent;
    padding: 0;
    min-width: 450px;

}

.form-newbook label {
    margin-bottom: 0.5rem;
    color: white;
}

.form-newbook input {
    margin-bottom: 20px;

}

.input-newbook,
.textarea-newbook {
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    border: 2px solid black;
    min-width: 150px;
}

.input-newbook input:focus,
.textarea-newbook textarea:focus{
    background-color: rgba(51, 0, 128, 0.512);
    color: white;
}

.input-newbook input:focus::placeholder,
.textarea-newbook textarea:focus::placeholder{
    color: white;
}



.btn-newbook {
	opacity: 0.7;
	background-color: #146b38;
	padding: 10px 20px;
	width: 70%;
    margin-left: 100px;
	font-size: 1rem;
	border-radius: 3px;
	text-align: center;
	color: white;
    border: none;
    margin-left: 18%;
    

}

.btn-newbook:hover {
	background-color: #146b38;
	color: white;
	opacity: 1;
	transition: opacity 0.5s;
}


@media (max-width: 330px) {

    .new-book{

        min-width: 240px;
    
    }
}