
.shopping-cart-btn {
	color: #fff;
	display: flex;
}

.product-count {
	margin-top: -5px;
	width: 20px;
	height: 20px;
	border-radius: 12px;
	background-color: black;
	overflow: hidden;
}

.mainproducts {
	padding: 3% 8%;
	background-color: white;
	min-height: 400px;

}



.title {
	margin-bottom: 3rem;
	text-align: center;
	color: black;
	text-transform: uppercase;
	font-size: calc(15px, 5vw, 30px);
	font-weight: bolder;
}


.titlesearch{
	margin-bottom: 3rem;
	text-align: center;
	color: black;
	text-transform: uppercase;
	font-size: calc(15px, 5vw, 30px);
	font-weight: bolder;
}

.products {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
	display: flex;
}

.product {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	height: 400px;
	width: 320px;
	padding: 10px;
	border: 4px solid black;
	border-radius: 20px;
	background-color: black;
	position: relative;
	overflow: hidden;
	align-self: center;
	color:white;
	margin-bottom: 2rem;
}


.product-image {
	display: block;
	width: 100%;
	height: 70%;
	object-fit: contain;
	background-color: black;
	margin-bottom: 10px;
}

.product-name {
	margin-top: calc(8px, 5vw, 15px);
	align-self: center;
	text-transform: uppercase;
	font-weight: bolder;
	font-size: 20px;
}

.product-price {
	display: block;
	margin: 5px 0 5px 0;
	text-align: center;
	font-size: 20px;
}

.product-parc {
	display: block;
	margin: 0 0 10px 0;
	text-align: center;
}



.buttons {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.5s;
	opacity: 0;
	width: 100%;
	height: 100%;
	background-color: #00000044;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.product:hover .buttons {
	opacity: 1;
}

.buttons .btn {
	opacity: 0.7;
	margin-right: 1rem;
	background-color: #4f146b;
	padding: 10px 20px;
	width: 50%;
	font-size: 1rem;
	border-radius: 3px;
	text-align: center;
	color: white;
}

.buttons .btn:hover {
	background-color: #4f146b;
	color: white;
	opacity: 1;
	transition: opacity 0.5s;
}


.loader{
	position: relative;
	width:150px;
	height: 150px;
	border-radius: 50%;
	background:linear-gradient(45deg, transparent, transparent 40%, green);
	animation: animar 2s linear infinite;
}

@keyframes animar {
	0%{
		transform: rotate(0deg);
		filter: hue-rotate(0);
	}
	100%{
		transform: rotate(360deg);
		filter: hue-rotate(360deg);
	}
}

.loader::before{
content: '';
position: absolute;
inset: 6px;
border-radius: 50%;
background-color: white;
z-index: 2;
}


.loader::after{
	content: '';
	position: absolute;
	inset: 0;
	border-radius: 50%;
	background-color: #040305;
	background:linear-gradient(45deg, transparent, transparent 40%, green);
	filter: blur(30px);
	}