.book-update {
    padding: 1% 8% 5% 8%;
}

.book-update h2 {
    text-align: center;
    margin: 2% 0;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 30px;
}


.info-edit-book-update{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.edit-book-update {
    display: flex;
    flex-wrap: wrap;

}

.book-image-update {
    width: 35%;
}

.form-update {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;

}

.form-update {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    border: 0;
    background-color: transparent;
    padding: 0;
    min-width: 450px;

}

.form-update label {
    margin-bottom: 0.5rem;
}

.form-update input {
    margin-bottom: 20px;

}

.form-update input,
.form-update textarea {
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    border: 2px solid black;
    min-width: 150px;
}

.form-update input:focus,
.form-update textarea:focus{
    background-color: rgba(51, 0, 128, 0.512);
    color: white;
}

.form-update input:focus::placeholder,
.form-update textarea:focus::placeholder{
    color: white;
}

.btn-update {
	opacity: 0.7;
	background-color: #146b38;
	padding: 10px 20px;
	width: 70%;
    margin-left: 100px;
	font-size: 1rem;
	border-radius: 3px;
	text-align: center;
	color: white;
    border: none;
    margin-left: 18%;
    

}

.btn-update:hover {
	background-color: #146b38;
	color: white;
	opacity: 1;
	transition: opacity 0.5s;
}
